<video autoplay loop muted id="background">
  <source src="../movie/background.mp4" type="video/mp4" />
</video>
<div class="container title">
  <div class="area">{{title}}</div>
  <p>Your encyclopedia of card games</p>
  <div class="row">
    <a href="/games-library" class="button-main" role="button"><span>See games</span></a>
    <a href="/create-game" class="button-main" role="button"><span>Add a Game</span></a>
  </div>
</div>