<video autoplay loop muted id="background">
  <source src="../movie/background.mp4" type="video/mp4" />
</video>
<div class="container title">
    <div class="area">{{title}}</div>
    <p>Your encyclopedia of card games</p>
</div>
