<video autoplay loop muted id="background">
  <source src="../../movie/background.mp4" type="video/mp4" />
</video>
<div class="formtile">
    <div class="col-md-3 formbg">
      <h2>Edit profile</h2>
      <form action="/user/{{_id}}/edit" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            class="form-control"
            id="username"
            type="text"
            name="username"
            value="{{username}}"
          />
        </div>

        <div class="form-group">
          <label for="birthdate">Birthdate</label>
          <input
            class="form-control"
            id="birthdate"
            type="date"
            name="birthdate"
            value="{{birthdate}}"
          />
        </div>

        <div class="form-group">
          <label>
            About me
            <textarea
              class="form-control"
              name="about"
              rows="4"
              cols="50"
              value="{{about}}"
            ></textarea>
          </label>
        </div>

        <div align="center"><button class="button-main" type="submit"><span>Save changes</span></button></div>
      </form>
    </div>
  </div>