<h2>Update profile</h2>
<div class="row">
  <div class="col-md-6">
    <form action="/user/{{_id}}/edit" method="post">
      <label>
      Username
      <input type="text" name="username" value="{{username}}" />
    </label>

    <label>
      Birthdate
      <input type="date" name="birthdate" value="{{birthdate}}">
    </label>

    <label>
      About me
      <textarea  name="about" rows="4" cols="50" value="{{about}}"></textarea>
    </label>


      <button type="submit" class="btn btn-success">Save changes</button>

    </form>
  </div>
</div>
