@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.navbar {
  border-bottom:1px solid gray;
  box-shadow: 0px 0px 10px black;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.title {
  height:90%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: white;
}

.title p{
  font-size: 20px;
  text-shadow: 0px 0px 3px gray, 0px 0px 5px gray;
}

.area {
  text-align: center;
  font-size: 6.5em;
  color: black;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 5s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

.game-large-text-input {
  width: 500px;
  height: 150px;
}

.game-medium-text-input {
  width: 340px;
}

.game-number-input {
  width: 50px;
}

.comment-box {
  margin: 10px 0px 0px 10px;
}

.game-comment-link {
  font-size: 10pt;
  margin: 0px 0px 10px 20px;
}

.button-main {
  margin:10px;
  display:flex;
  text-align:center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-main:active,
.button-main:hover {
  outline: 0;
  color:white;
  text-decoration:none;
}

.button-main span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-main:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-main {
    font-size: 24px;
    min-width: 196px;
  }
}

.formtile {
  margin-top:3%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}
.formbg {
  padding:3%;
  min-width:400px;
  max-width:550px;
  background: rgba(255, 255, 255, 0.6);
  border-radius:50px;
  box-shadow: 0px 0px 10px black;
}

.form-control{
  min-width:300px;
  max-width:500px;
}

.gameFormErrorMessage {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
}