@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.title {
  height:90%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: white;
}

.title p{
  font-size: 20px;
  text-shadow: 0px 0px 3px gray, 0px 0px 5px gray;
}

.area {
  text-align: center;
  font-size: 6.5em;
  color: black;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 5s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

.game-large-text-input {
  width: 500px;
  height: 150px;
}

.game-medium-text-input {
  width: 340px;
}

.game-number-input {
  width: 50px;
}

.comment-box {
  margin: 10px 0px 0px 10px;
}

.game-comment-link {
  font-size: 10pt;
  margin: 0px 0px 10px 20px;
}